<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Talentship - Chat Bot</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro'>
    <link rel='stylesheet prefetch' href='css/jquery.mCustomScrollbar.min.css'>
    <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
    <div class="chat">
        <div class="chat-title">
            <h1>Chat Bot</h1>
            <h2>MURALI ANAND</h2>
            <figure class="avatar">
                <img alt="talentship-img" src="img/TS_Icon256.png" />
            </figure>
        </div>
        <div class="messages">
            <div class="messages-content"></div>
        </div>
        <div class="message-box">
            <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
            <button type="submit" class="message-submit">&#10148;</button>
        </div>
    </div>
    <div class="bg"></div>
    <script src='js/jquery.min.js'></script>
    <script src='js/jquery.mCustomScrollbar.concat.min.js'></script>
    <script src="js/index.js"></script>
</body>

</html>